*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
nav{
    background: blue;
    height: 75px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 50px;
    line-height: 75px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    line-height: 75px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.child,a:hover{
background-color: black;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 75px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
 display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 855px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #2c3e50;
        top: 75px;
        left: -100%;

       
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.child,a:hover{
        background-color: none;
        color: #008206;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
section{
    background-image: url(images/back.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
}
